@font-face {
  font-family: 'Arista 2.0';
  src: url('Arista2.0.eot'); /* IE9 Compat Modes */
  src: url('Arista2.0.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Arista2.0.woff') format('woff'), /* Modern Browsers */
       url('Arista2.0.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('Arista2.0.svg#af129d6cb1111afb58d140d4ff837707') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'Arista 2.0 Alternate';
  src: url('Arista2.0Alternate.eot'); /* IE9 Compat Modes */
  src: url('Arista2.0Alternate.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Arista2.0Alternate.woff') format('woff'), /* Modern Browsers */
       url('Arista2.0Alternate.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('Arista2.0Alternate.svg#2bd84fa9a5eb2e671388d9a37954bff4') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'HelveticaNeueLT Pro';
  src: url('HelveticaNeueLTPro-Bd.eot'); /* IE9 Compat Modes */
  src: url('HelveticaNeueLTPro-Bd.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('HelveticaNeueLTPro-Bd.woff') format('woff'), /* Modern Browsers */
       url('HelveticaNeueLTPro-Bd.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('HelveticaNeueLTPro-Bd.svg#efe703c29c750bbe20a3718d66e89bed') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  bold;
}

@font-face {
  font-family: 'HelveticaNeueLT Pro';
  src: url('HelveticaNeueLTPro-Lt.eot'); /* IE9 Compat Modes */
  src: url('HelveticaNeueLTPro-Lt.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('HelveticaNeueLTPro-Lt.woff') format('woff'), /* Modern Browsers */
       url('HelveticaNeueLTPro-Lt.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('HelveticaNeueLTPro-Lt.svg#3162d512a0b0767ee94e99606f47da13') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  normal;
}

